# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/
*.egg

# Installer logs
pip-log.txt

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Bokeh/matplotlib exported plots
scribble_export.png

# System files
.DS_Store
Thumbs.db

# Virtual environments
.venv/
env/
venv/
ENV/
env.bak/

# Local config
*.local
.secret